/* src/styles/globals.css */
body {
  margin: 100;
  padding: '0';
  padding-left: 50px;
  padding-right: 50px;
  background-color: #000; /* Solid black background */
  color: white; /* Default font color */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
